# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
  - openjdk13

# используем режим обычного пользователя для сборки проекта.
sudo: false
script: "mvn cobertura:cobertura"
# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонни сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

# Отправлять уведомление на почтуyouremail@smtp.ru(Изменить на свою) если сборка упала
notifications:
  email:
    recipients:
      -DenisViskov16@gmail.com
    on_success: never # default: change
    on_failure: always # default: always

    env:
      global:
        CODECOV_TOKEN="8d6f5506-f004-4d0c-9591-ba8ce98eb965"